.inputField {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}


.inputField_input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.inputField_input > input {
  font-size: 18px;
  font-weight: bold;
  width: 66%;
  padding: 10px 40px 10px 12px;
  border-radius: 15px;
  border: 1px solid grey;
  outline: none;
}

.inputField_input > i {
  color: #009492;
  position: absolute;
  left: 70%;
  font-size: 22px;
  cursor: pointer;
}

.inputField_input > i:active{
  transition: ease-out 250ms;
  rotate: 360deg;
}

.inputField b {
  text-align: left;
  margin: 2px;
}

@media (max-width: 620px) {
  .inputField {
    margin: 15px 0;
  }
  .inputField_input > input {
    font-size: 17px;
    width: 65%;
    padding: 5px 35px 5px 12px;
  }
  
  .inputField_input > i {
    left: 60%;
    font-size: 22px;
    cursor: pointer;
  }
}
