.buttonStyle{
    background-color: #39dede;
    width: 22%;
    height: 40px;
    font-size: 16px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 5px;
    margin-left: 5px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

@media (max-width: 620px) {
    .buttonStyle{
        width: 35%;
        height: 30px;
        font-size: 15px;
        font-weight: bold;
        padding: 5px;
    }
  }
  